body {
  background: url("../../img/footer_lodyas.png");
  background-color:#444444;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 15px; }

.highlighted {
  background-color: yellow; }

.highlighted-green {
  background-color: lightgreen; }

.result-container {
  font-weight: bold;
  border: thin solid #ccc;
  padding: 10px;
  border-radius: 10px; }

.result-container-label {
  text-decoration: underline;
  font-size: 20px; }

.input-label {
  font-size: 20px; }

.title {
  text-align: center;
  font-weight: bold;
  font-size: 25px; }

.well {
  box-shadow: 8px 8px 10px #222222; }
