<!-- Container Top -->
<div class="container">
    <div class="col-xs-12 well title">
        Aliquot
    </div>
    <p>
        <a href="#!/" class="btn btn-primary">Home</a>
        <a href="#!/aliquot" class="btn btn-primary">Aliquot</a>
    </p>
    <div class="col-xs-12 col-sm-4 well">
        <label class="input-label">Active Ingredient</label>
        <select ng-model="active_ingredient" class="form-control">
            <option ng-repeat="active_ingredient in active_ingredients">{{ active_ingredient.active_ingredient }}</option>
        </select>
        <label class="input-label">Final Concentration</label>
        <div class="input-group">
            <input type="text" ng-model="final_concentration" class="form-control" placeholder="0" />
            <div class="input-group-addon">%</div>
        </div>
        <label class="input-label">Bag Volume</label>
        <div class="input-group">
            <input type="text" ng-model="final_volume" class="form-control" placeholder="0" />
            <div class="input-group-addon">mL</div>
        </div>
        <label class="input-label">{{ active_ingredient }} Source</label>
        <select ng-model="active_ingredient_source" class="form-control">
            <option ng-repeat="dextrose_source in dextrose_sources" value="{{ dextrose_source.value }}">{{ dextrose_source.display }}</option>
        </select>
        <label class="input-label">Solvent</label>
        <select ng-model="solute" class="form-control">
            <option ng-repeat="solute in solutes" value="{{ solute.multiplier }}">{{ solute.solute }}</option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-offset-1 well">
        <div class="col-xs-12">
            <label class="result-container-label">Parts 1</label>
            <p class="result-container input-calculation-display">{{ getParts1() | number:1 }}</p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Parts 2</label>
            <p class="result-container input-calculation-display">{{ getParts2() | number:1 }}</p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Total Parts</label>
            <p class="result-container input-calculation-display">{{ getParts1() + getParts2() | number:1 }}</p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Amount of {{ active_ingredient_source * 100 }}% {{ active_ingredient }} Solution Needed</label>
            <p class="result-container">
                <span class="highlighted">{{ getSourceNeeded() | number:2 }} mL</span>
            </p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Amount of {{ solute * 100 }}% {{ active_ingredient }} Solution Needed</label>
            <p class="result-container">
                <span class="highlighted">{{ final_volume - getSourceNeeded() | number:2 }} mL</span>
            </p>
        </div>
    </div>
</div>
<!-- Container Bottom -->