<!-- Container Top -->
<div class="container">
    <div class="col-xs-12 well title">
        Solution Calculator
    </div>
    <p>
        <a href="#!/" class="btn btn-primary">Home</a>
        <a href="#!/aliquot" class="btn btn-primary">Aliquot</a>
    </p>
    <div class="col-xs-12 col-sm-4 well">
        <label class="input-label">Active Ingredient</label>
        <select ng-model="active_ingredient" class="form-control">
            <option ng-repeat="active_ingredient in active_ingredients">{{ active_ingredient.active_ingredient }}</option>
        </select>
        <label class="input-label">Concentration</label>
        <div class="input-group">
            <input type="text" ng-model="final_concentration" class="form-control" placeholder="0" />
            <div class="input-group-addon">%</div>
        </div>
        <label class="input-label">Bag Volume</label>
        <div class="input-group">
            <input type="text" ng-model="final_volume" class="form-control" placeholder="0" />
            <div class="input-group-addon">mL</div>
        </div>
        <label class="input-label">{{ active_ingredient }} Source</label>
        <select ng-model="active_ingredient_source" class="form-control">
            <option ng-repeat="dextrose_source in dextrose_sources" value="{{ dextrose_source.value }}">{{ dextrose_source.display }}</option>
        </select>
        <label class="input-label">Solvent</label>
        <select ng-model="solute" class="form-control">
            <option ng-repeat="solute in solutes">{{ solute.solute }}</option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-offset-1 well">
        <div class="col-xs-12">
            <label class="result-container-label">Amount of {{ active_ingredient }} Needed</label>
            <p class="result-container input-calculation-display">{{ getAmountNeeded() | number:2 }} g</p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Amount of {{ active_ingredient_source * 100 }}% {{ active_ingredient }} Solution Needed</label>
            <p class="result-container">
                <span class="highlighted">{{ getSolutionNeeded() | number:2 }} mL</span>
            </p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Amount of {{ solute }} Needed</label>
            <p class="result-container">
                {{ getSoluteNeeded() | number:2 }} mL
            </p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Volume Produced</label>
            <p class="result-container">
                {{ getVolumeProduced() | number:2 }} mL
            </p>
        </div>
        <div class="col-xs-12">
            <label class="result-container-label">Product Concentration</label>
            <p class="result-container">
                <span class="highlighted-green">{{ getConcentration() * 100 | number:2 }} g/mL</span>
            </p>
        </div>
    </div>
</div>
<!-- Container Bottom -->